* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  min-height: 100vh;
}

.ctnr {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  padding: 2rem;
  /* border: 0.5rem #000 dashed; */
}

.btn {
  padding: 1.5rem;
  font-size: 2rem;
  border: 0.3rem solid #000;
  background-color: #fff;
}

.btn:active,
.btn--playing {
  border: 0.3rem solid #ffff00;
}
